.loading-bar {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    color: #007bff;
  }
  
  .user-details-card {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  
  .user-avatar {

    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
img {
    height: 100%;
    width: 100%;
  }
  button{
    margin-top: 10px;
  }